 <div class="col-lg-12 search-strip">
 </div>
 <div class="col-lg-12 col-md-12 no-padding" style="background: #fff; position:relative; height:100%; width:100%;" >
                <img src="../../Content/Images/chart.jpg"  usemap="#Map" alt="org-chart" style="height:100%; width:100%"/>
                </div>

                
<script type="text/javascript">
                $(document).ready(function () {
        $(this).scrollTop(0);
    });
        </script>